*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 95vh;
    background-color: #2C3338;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.form{
    overflow: hidden;
}
.input-group{
    height: auto;
}
.bg_icon{
    background-color: #363B41;
}
.w_R{
    width: 25%;
}
.icon{
    color: #606468;
}
.input{
    background-color: #3b4147;
    color: #F5F5F5;
    
}
.input:focus{
    background-color: #F5F5F5;
    outline: none;
    box-shadow: none;
}
.border-none{
    border: none;
    outline: none;
    box-shadow: none;
}
input::placeholder{
    color: #6c7475 !important;
}
.label-i{
    display: none;
    color: #FF0000;
    font-size: 14px;
}
.submit-B{
    background-color: #ea4c88;
    color: white;
    font-weight: 600;
    border-radius: 7px;
}
.true-info{
    border: 2px solid #32CD32 !important;
    border-radius: 7px;

}
.false-info{
    border: 2px solid #FF0000 !important;
    border-radius: 7px;
}



@media screen and (max-width:991.98px){

    .w_R{
        width: 35%;
    }
    
}

@media screen and (max-width:768.98px){

    .w_R{
        width: 45%;
    }
    
}

@media screen and (max-width:576.98px){
    .w_R{
        width: 70%;
    }
    
}